@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Geist:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Momo+Signature&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Geist", sans-serif;
}
.box{
    width: 100%;
    background-color: rgba(18, 21, 23, 1);
    height:5000px;
    padding-bottom: 100px;
    padding-top: 20px;
}
.asosiy{
    font-family: "Geist", sans-serif;
    width: 100%;
    background-image:url(img/boxbackround4.png), url(img/boxbackround3.png),url(img/boxbackround2.png),url(img/boxbackround.png);
    background-repeat:no-repeat, no-repeat, no-repeat,no-repeat;
    height: 100%;
    background-position:right 4170px,left 3060px ,550px 1570px ,right 340px;
    background-size: 1050px,675px,1000px,810px;

}
.tepa{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 90px;
    gap: 100px;
}
.tepa ul{
    display: flex;
    align-items: center;
    color: rgba(217, 217, 217, 1);
    gap: 100px;
}
.tepa h1{
    color: rgba(53, 198, 107, 1);
    font-size: 37.6px;
    font-weight: 800;
}
.tepa ul a{
    text-decoration: none;
    color: rgba(217, 217, 217, 1);
}
.tepa ul a:hover{
    text-decoration: underline;
    color: rgba(38, 38, 248, 0.944);
}
.list1{
    width: 100%;
    height: 115vh;
    display: flex;
    margin-bottom: 120px;
}
.chap-list1{
    width:50%;
    
}
.chap-list1 h1{
    margin-left: 18%;
    background-image: url(img/h6backround.png);
    margin-top: 60px;
    background-repeat: repeat;
    background-position:bottom;
    font-size: 80px;
    font-weight: 800;
    color: rgba(217, 217, 217, 1);
}
.chap-list1 h6 b{
    color: rgba(53, 198, 107, 1);
}
.chap-list1 h6{
    margin-left: 18%;
    width: 570px;
    background-image: url(img/h6backround.png);
    background-repeat: no-repeat;
    background-position: bottom;
    color: rgba(217, 217, 217, 1);
    font-size: 80px;
    font-weight: 800;
}
.chap-list1 h2{
    margin-top: 50px;
    width: 570px;
    font-size: 20px;
    font-weight: 400;
    color: rgba(217, 217, 217, 1);
    margin-left: 18%;
}
.chap-list1 h3{
    width: 570px;
    font-size: 20px;
    font-weight: 400;
    color: rgba(217, 217, 217, 1);
    margin-left: 18%;
}
.ong-list1 img{
    position: absolute;
    top: 23%;
    right: 10%;
}
.ong-list1{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.btn1{
    width: 333px;
    height: 75px;
    border-radius: 82px;
    background: linear-gradient(265.23deg, #237249 6.79%, #35C66B 97.2%);
    border: none;
    cursor: pointer;
    font-size: 24px;
    font-weight: 639;
    margin-left: 18%;
    margin-top: 80px;
    color: rgba(255, 255, 255, 1);
}
.btn2{
    width: 168px;
    height: 75px;
    border-radius: 81px;
    font-size: 24px;
    cursor: pointer;
    font-weight: 400;
    background-color: rgba(18, 21, 23, 1);
    color: rgba(217, 217, 217, 1);
    border-top: 1.02px solid rgba(218, 218, 218, 1);
    border-right: 1.02px solid rgba(218, 218, 218, 0);
    margin-left: 20px;
}
.btn1:hover,
.btn2:hover,
.btn3:hover,
.list5 button:hover,
.list7 button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px 0.2px rgba(53, 198, 107, 1);
}
.past-list1{
    display: flex;
    width: 475px;
    margin-left: 18%;
    align-items: center;
    justify-content: space-between;
    margin-top:95px ;
}
.past-list1 div{
    width: 125px;
}
.past-list1 h5{
    color: rgba(255, 255, 255, 1);
    font-size: 62px;
    font-weight: 300;
    display: flex;
}
.past-list1 h5 b{
    color: rgba(53, 198, 107, 1);
}
.past-list1 h4{
    margin-top: 6px;
    width: 122px;
    font-size: 20px;
    font-weight: 400;
    color: rgba(217, 217, 217, 1);
}
strong{
    position: absolute;
    background-image: url(img/Star\ 2.png);
    width: 155px;
    height: 155px;
    font-weight: 500;
    font-size: 32px;
    left: 12.5%;
    top: 136%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-position: center 1px;
    color: rgba(255, 255, 255, 1);
}
strong h3{
    font-weight: 500;
    font-size: 32px;
}
.list2{
    width: 65%;
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(264.52deg, #FFFFFF 4.95%, #E5E5E5 64.19%, #FBFBFB 88.37%);
    border-radius: 45px;
    margin: auto;
}
.list2 div{
    flex-direction: column;
    padding-top: 20px;
    width: 30%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}
.list2 div h1{
    background-image: url(img/h1backround.png);
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    width: 208px;
    gap: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.list2 h2{
    font-size: 32px;
    font-weight: 500;
    color: rgba(18, 21, 23, 1);
}
.list2 h3{
    font-size: 20px;
    font-weight: 400;
    color: rgba(18, 21, 23, 0.9);
    width: 200px;
}
.list3{
    width: 100%;
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120vh;
}
.chap-list3 h1{
    background-image: url(img/Star\ 2.png);
    width: 155px;
    height: 155px;
    font-weight: 500;
    position: relative;
    left: 72.7%;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-position: center 1px;
    color: rgba(255, 255, 255, 1);
}  
.list3 h1 b{
    font-weight: 500;
    font-size: 32px;
}
.chap-list3{
    width: 35%;
    margin-left: 5%;
    background-image: url(img/chaplist3.png),url(img/chaplist3orqa.png);
    background-repeat: no-repeat,no-repeat;
    background-position:left,bottom left;
    height: 705px;
}
.ong-list3{
    width: 32%;
    margin-right: 10%;
    height: 705px;
}
.ong-list3 h1{
    font-size: 80px;
    font-weight: 800;
    color: #FFFFFF;
    width: 411px;
}
.ong-list3 h1 b{
    color: #35C66B;
    font-size: 80px;
    font-weight: 800;
}
.ong-list3 h2{
    width: 457px;
    font-size: 20px;
    font-weight: 400;
    color: #D9D9D9;
}
.ong-list3 div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 115px;
    height: 275px;
    background-image: url(img/onglist3div.png);
    background-repeat: no-repeat;
    background-position:center ;
    background-size: 650px;
}
.btn3{
    width: 325px;
    height: 75px;
    background: linear-gradient(265.23deg, #237249 6.79%, #35C66B 97.2%);
    border-radius: 83px;
    border: none;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 15px;
    font-size: 24px;
    font-family: 640;
    color: #FFFFFF;
}
.list4{
    width: 65%;
    height: 200px;
    display: flex;
    margin-left: 10%;
    align-items: center;
    justify-content: space-between;
}
.list4 h1{
    width: 395px;
    font-size: 80px;
    font-weight: 800;
    color: #FFFFFF;
}
.list4 h1 b{
    font-size: 80px;
    font-weight: 800;
    color: #35C66B;
}
.list4 h2{
    width: 424px;
    font-size: 20px;
    font-weight: 400;
    color: #D9D9D9;
}
.list5{
    width: 70%;
    height: 555px;
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: space-between;
    margin-left: 10%;
}
.list5 div{
    border-radius: 30px;
    width: 28%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1.35px solid #DADADA;
}
.list5 div h6{
    background-image: url(img/h1backround.png);
    height: 220px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center top -15px;
    width: 208px;
    background-size: 296px;
}
.list5 h2{
    font-size: 32px;
    font-weight: 300;
    color: #FFFFFF;
    margin-top: 20px;
    text-shadow:10px 50px 10px white;
}
.list5 h5{
    width: 205px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 400;
    color: #D9D9D9;
    text-align: center;
    text-shadow:0px 1px 100px white;
}
.list5 h3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    gap: 30px;
    font-size: 32px;
    font-weight: 300;
    text-shadow:0px 1px 100px white;
    color: #FFFFFF;
}
.list5 h3 b{
    font-size: 20px;
    font-weight: 400;
    color: #D9D9D9;
}
.list5 button{
    width: 185px;
    height: 55px;
    background: linear-gradient(265.23deg, #237249 6.79%, #35C66B 97.2%);
    border-radius: 60px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    margin-top: 20px;
}
.list6{
    width: 100%;
    margin-top: 100px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 50px;
}
.list6 h1{
    font-size: 20px;
    font-weight: 400;
    color: #D9D9D9;
    width: 450px;
}
.list6 h2{
    width: 360px;
    font-size: 80px;
    font-weight: 700;
    color: #FFFFFF;
}
.list6 h2 b{
    color: #35C66B;
}
.list7 {
    margin-top: 80px;
    width: 80%; 
    height: 550px;
    margin-left:10%;
}
.asosiy-list7{
    height: 49%;
    display: flex;
    justify-content: space-between;
}
.asosiy-list7 div{
    border-radius:30px ;
    width: 48%;
    height: 100%;
}
.past-list7{
    width: 100%;
    height: 49%;
    display: flex;
    margin-top: 1%;
    justify-content: space-between;
}
.past-list7 div{    
    width: 32%;
    height: 100%;
    border-radius: 30px;
}
.div1{
    background-image: url(img/div1backround.png);
    background-repeat: no-repeat;
    background-position: center;
}
.div2{
    background-image: url(img/div2.png);
    background-repeat: no-repeat;
    background-position: center;
}
.div3{
    background-image: url(img/div3.png);
    background-repeat: no-repeat;
    background-position: center;
}
.div4{
    background-image: url(img/div4.png);
    background-repeat: no-repeat;
    background-position: center;
}
.div5{
    background-image: url(img/div5.png);
    background-repeat: no-repeat;
    background-position: center;    
}
.asosiy-list7 div:hover,
.past-list7 div:hover,
.list5 div:hover{
    cursor: pointer;
    box-shadow: 0px 1px 10px 1px rgba(232, 81, 81, 0.492);
}
.list7 h1{
    font-size: 32px;
    font-weight: 500;
    color: #FFFFFF;
    width: 230px;
    margin: 40px 30px;
}
.list7 button{
    width: 167px;
    height: 75px;
    background: linear-gradient(267.2deg, #237249 3.05%, #35C66B 75.72%);
    border: none;
    border-radius: 82px;
    font-size: 24px;
    font-weight: 600;
    color: #D9D9D9;
    margin: 10px 30px;
}
.list8{
    width: 80%;
    margin-left: 10%;
    justify-content: space-between;
    margin-top: 60px;
    height: 610px;
    display: flex;
    align-items: end;
}
.chap-list8{
    width: 60%;
    height: 95%;
}
.ong-list8{
    width: 35%;
    height: 90%;
    background-image: url(img/list8orqa2.png),url(img/list8orqa1.png);
    background-repeat: no-repeat,no-repeat;
    background-position:center -30px, right bottom;
}
.ong-list8 h1{
    background-image: url(img/Star\ 2.png);
    width: 155px;
    height: 155px;
    font-weight: 500;
    position: relative;
    left: 0%;
    top: -70px;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-position: center 1px;
    color: rgba(255, 255, 255, 1);
}  
.ong-list8 h1 b{
    font-weight: 500;
    font-size: 32px;
}
.chap-list8 h1{
    width: 365px;
    font-size: 80px;
    font-weight: 800;
    color: #FFFFFF;
}
.chap-list8 h1 b{
    color: #35C66B;
}
.chap-list8 h2{
    font-size: 20px;
    font-weight: 400;
    color: #D9D9D9;
    width: 387px;
    margin-left: 35px;
}
.chap-list8 h3{
    height: 60px;
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-top: 40px;
    gap: 20px;
    font-size: 32px;
    font-weight: 500;
    color: #FFFFFF;
}
.asosiy2{
    font-family: "Geist", sans-serif;
    width: 100%;
    border: 1px solid #0B0C0D;
    background-color: #0B0C0D;
    height: 380px;
    margin-top: 130px;
}
.list9{
    margin-top: 50px;
    width: 80%;
    margin-left: 10%;
    justify-content: space-between;
    display: flex;
}
.list9 h1{
    font-size: 38px;
    font-weight: 800;
    color:#35C66B;
}
.list9 div{
    width: 15%;
    height: min-content;
}
.list9 ul{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 20px;
    font-weight: 400;
    color: #BBB3B36E;
}
.chap-list8 h3:hover,
.list9 li:hover{
    text-decoration: underline;
    color: rgba(57, 57, 226, 0.838);
    cursor: pointer;
}
.list10{
    display: flex;
    width: 80%;
    margin-left: 10%;
    margin-top: 120px;
    align-items: center;
    justify-content: space-between;
}
.list10 h1{
    width: 250px;
    font-size: 26px;
    font-weight: 500;
    color: #35C66B;
}
.list10 h1:hover{
    cursor: pointer;
    text-decoration: underline;
    font-weight: 700;
}